#forminator-module-4900:not(.select2-dropdown) {
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 0;
		padding-left: 0;
	}


	#forminator-module-4900 {
		border-width: 0;
		border-style: none;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	}


	#forminator-module-4900 {
		border-color: rgba(0,0,0,0);
		background-color: rgba(0,0,0,0);
	}

#forminator-module-4900 .forminator-pagination-footer .forminator-button-paypal {
			flex: 1;
	}
#forminator-module-4900 .forminator-button-paypal > .paypal-buttons {
		}
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-response-message,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-response-message p {
		font-size: 15px;
		font-family: inherit;
		font-weight: 400;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-response-message.forminator-error {
		background-color: #F9E4E8;
		box-shadow: inset 4px 0 0 0 #E04562;
		-moz-box-shadow: inset 4px 0 0 0 #E04562;
		-webkit-box-shadow: inset 4px 0 0 0 #E04562;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-response-message.forminator-error:hover,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-response-message.forminator-error:focus,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-response-message.forminator-error:active {
		box-shadow: inset 4px 0 0 0 #E04562;
		-moz-box-shadow: inset 4px 0 0 0 #E04562;
		-webkit-box-shadow: inset 4px 0 0 0 #E04562;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-response-message.forminator-error,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-response-message.forminator-error p {
		color: #333333;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-response-message.forminator-success {
		background-color: #BCEEE6;
		box-shadow: inset 4px 0 0 0 #1ABCA1;
		-moz-box-shadow: inset 4px 0 0 0 #1ABCA1;
		-webkit-box-shadow: inset 4px 0 0 0 #1ABCA1;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-response-message.forminator-success:hover,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-response-message.forminator-success:focus,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-response-message.forminator-success:active {
		box-shadow: inset 4px 0 0 0 #1ABCA1;
		-moz-box-shadow: inset 4px 0 0 0 #1ABCA1;
		-webkit-box-shadow: inset 4px 0 0 0 #1ABCA1;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-response-message.forminator-success,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-response-message.forminator-success p {
		color: #333333;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-response-message.forminator-loading {
		background-color: #F8F8F8;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-response-message.forminator-loading,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-response-message.forminator-loading p {
		color: #666666;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-title {
		font-size: 45px;
		font-family: inherit;
		font-weight: 400;
		text-align: left;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-subtitle {
		font-size: 18px;
		font-family: inherit;
		font-weight: 400;
		text-align: left;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-title {
		color: #333333;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-subtitle {
		color: #333333;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-label {
		font-size: 12px;
		font-family: inherit;
		font-weight: 700;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-label {
		color: #777771;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-label .forminator-required {
		color: #E04562;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-description-password {
		display: block;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-description,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-description p {
		font-size: 12px;
		font-family: inherit;
		font-weight: 400;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-description a,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-description a:hover,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-description a:focus,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-description a:active {
		box-shadow: none;
		text-decoration: none;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-description p {
		margin: 0;
		padding: 0;
		border: 0;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-description,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-description p {
		color: #777771;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-description a {
		color: #17A8E3;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-description a:hover {
		color: #008FCA;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-description a:active {
		color: #008FCA;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-error-message {
		font-size: 12px;
		font-family: inherit;
		font-weight: 500;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-error-message {
		background-color: #F9E4E8;
		color: #E04562;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-input,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-input input {
		font-size: 16px;
		font-family: inherit;
		font-weight: 400;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-input,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-input:hover,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-input:focus,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-input:active {
		border-color: #777771;
		background-color: #EDEDED;
		color: #000000;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-input::placeholder {
		color: #888888;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-input:-moz-placeholder {
		color: #888888;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-input::-moz-placeholder {
		color: #888888;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-input:-ms-input-placeholder {
		color: #888888;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-input::-webkit-input-placeholder {
		color: #888888;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-is_hover .forminator-input {
		border-color: #17A8E3;
		background-color: #E6E6E6;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-is_active .forminator-input {
		border-color: #17A8E3;
		background-color: #E6E6E6;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-has_error .forminator-input {
		border-color: #E04562;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-input-with-icon [class*="forminator-icon-"] {
		color: #777771;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-is_active .forminator-input-with-icon [class*="forminator-icon-"] {
		color: #17A8E3;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-suffix {
		font-size: 16px;
		font-family: inherit;
		font-weight: 500;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-suffix {
		color: #000000;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-prefix {
		font-size: 16px;
		font-family: inherit;
		font-weight: 500;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-prefix {
		color: #000000;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-textarea {
		font-size: 16px;
		font-family: inherit;
		font-weight: 400;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-textarea,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-textarea:hover,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-textarea:focus,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-textarea:active {
		border-color: #777771;
		background-color: #EDEDED;
		color: #000000;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-is_hover .forminator-textarea {
		border-color: #17A8E3;
		background-color: #E6E6E6;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-is_active .forminator-textarea {
		border-color: #17A8E3;
		background-color: #E6E6E6;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-has_error .forminator-textarea {
		border-color: #E04562;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-textarea::placeholder {
		color: #888888;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-textarea:-moz-placeholder {
		color: #888888;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-textarea::-moz-placeholder {
		color: #888888;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-textarea:-ms-input-placeholder {
		color: #888888;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-textarea::-webkit-input-placeholder {
		color: #888888;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-radio {
		font-size: 16px;
		font-family: inherit;
		font-weight: 400;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-radio {
		color: #000000;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-radio span[aria-hidden] {
		border-color: #777771;
		background-color: #EDEDED;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-radio span[aria-hidden]:before {
		background-color: #17A8E3;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-radio input:checked + span[aria-hidden] {
		border-color: #17A8E3;
		background-color: #EDEDED;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-has_error .forminator-radio span[aria-hidden] {
		border-color: #E04562;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-checkbox {
		font-size: 16px;
		font-family: inherit;
		font-weight: 400;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-checkbox {
		color: #000000;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-checkbox span[aria-hidden] {
		border-color: #777771;
		background-color: #EDEDED;
		color: #17A8E3;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-checkbox input:checked + span[aria-hidden] {
		border-color: #17A8E3;
		background-color: #EDEDED;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-has_error .forminator-checkbox span[aria-hidden] {
		border-color: #E04562;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold select.forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"] .select2-selection__rendered {
		font-size: 16px;
		line-height: 22px;
		font-weight: 400;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"] {
		border-color: #777771;
		background-color: #EDEDED;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"] .select2-selection__rendered {
		color: #000000;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"] .select2-selection__arrow {
		color: #777771;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"]:hover {
		border-color: #17A8E3;
		background-color: #E6E6E6;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"]:hover .select2-selection__rendered {
		color: #000000;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"]:hover .select2-selection__arrow {
		color: #17A8E3;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-select2 + .forminator-select.select2-container--open .selection .select2-selection--single[role="combobox"] {
		border-color: #17A8E3;
		background-color: #E6E6E6;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-select2 + .forminator-select.select2-container--open .selection .select2-selection--single[role="combobox"] .select2-selection__rendered {
		color: #000000;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-select2 + .forminator-select.select2-container--open .selection .select2-selection--single[role="combobox"] .select2-selection__arrow {
		color: #17A8E3;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-field.forminator-has_error .forminator-select2 + .forminator-select .selection .select2-selection--single[role="combobox"] {
		border-color: #E04562;
	}


	.forminator-select-dropdown-container--open .forminator-custom-form-4900.forminator-dropdown--bold .select2-search input {
		font-size: 16px;
		font-weight: 400;
	}

	.forminator-select-dropdown-container--open .forminator-custom-form-4900.forminator-dropdown--bold .select2-results .select2-results__options .select2-results__option {
		font-size: 16px;
		font-weight: 400;
	}


	.forminator-select-dropdown-container--open .forminator-custom-form-4900.forminator-dropdown--bold {
		border-color: #17A8E3;
		background-color: #E6E6E6;
	}

	.forminator-select-dropdown-container--open .forminator-custom-form-4900.forminator-dropdown--bold .select2-results .select2-results__options .select2-results__option {
		color: #777771;
	}

	.forminator-select-dropdown-container--open .forminator-custom-form-4900.forminator-dropdown--bold .select2-results .select2-results__options .select2-results__option:not(.select2-results__option--selected).select2-results__option--highlighted {
		background-color: #DDDDDD;
		color: #000000;
	}

	.forminator-select-dropdown-container--open .forminator-custom-form-4900.forminator-dropdown--bold .select2-results .select2-results__options .select2-results__option.select2-results__option--selected {
		background-color: #17A8E3;
		color: #FFFFFF;
	}

	.forminator-select-dropdown-container--open .forminator-custom-form-4900.forminator-dropdown--bold .select2-search input,
	.forminator-select-dropdown-container--open .forminator-custom-form-4900.forminator-dropdown--bold .select2-search input:focus,
	.forminator-select-dropdown-container--open .forminator-custom-form-4900.forminator-dropdown--bold .select2-search input:hover {
		border-color: #17A8E3;
		background-color: #FFFFFF;
		color: #000000;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-multiselect .forminator-option {
		font-size: 16px;
		font-family: inherit;
		font-weight: 400;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-multiselect {
		border-color: #777771;
		background-color: #E6E6E6;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-has_error .forminator-multiselect {
		border-color: #E04562;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-multiselect .forminator-option {
		color: #777771;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-multiselect .forminator-option:hover {
		background-color: #DDDDDD;
		color: #000000;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-multiselect .forminator-option.forminator-is_checked {
		background-color: #17A8E3;
		color: #FFFFFF;
	}


	.forminator-custom-form-4900.forminator-calendar--bold {
		font-family: inherit;
	}


	.forminator-custom-form-4900.forminator-calendar--bold:before {
		border-color: #17A8E3;
		background-color: #E6E6E6;
	}

	.forminator-custom-form-4900.forminator-calendar--bold .ui-datepicker-header .ui-corner-all {
		background-color: #17A8E3;
		color: #FFFFFF;
	}

	.forminator-custom-form-4900.forminator-calendar--bold .ui-datepicker-header .ui-datepicker-title select {
		border-color: #BBBBBB;
		background-color: #FFFFFF;
		color: #777771;
	}

	.forminator-custom-form-4900.forminator-calendar--bold .ui-datepicker-calendar thead th {
		color: #333333;
	}

	.forminator-custom-form-4900.forminator-calendar--bold .ui-datepicker-calendar tbody td a.ui-state-default,
	.forminator-custom-form-4900.forminator-calendar--bold .ui-datepicker-calendar tbody td.ui-state-disabled span {
		border-color: #E6E6E6;
		background-color: #E6E6E6;
		color: #777771;
	}

	.forminator-custom-form-4900.forminator-calendar--bold .ui-datepicker-calendar tbody td a.ui-state-default:hover,
	.forminator-custom-form-4900.forminator-calendar--bold .ui-datepicker-calendar tbody td a.ui-state-default.ui-state-hover {
		border-color: #DDDDDD;
		background-color: #DDDDDD;
		color: #777771;
	}

	.forminator-custom-form-4900.forminator-calendar--bold .ui-datepicker-calendar tbody td a.ui-state-default:active,
	.forminator-custom-form-4900.forminator-calendar--bold .ui-datepicker-calendar tbody td a.ui-state-default.ui-state-active {
		border-color: #17A8E3;
		background-color: #17A8E3;
		color: #FFFFFF;
	}

	.forminator-custom-form-4900.forminator-calendar--bold .ui-datepicker-calendar tbody td a.ui-state-default.ui-state-highlight {
		border-color: #17A8E3;
		background-color: #C8DEE7;
		color: #17A8E3;
	}

	.forminator-custom-form-4900.forminator-calendar--bold .ui-datepicker-calendar tbody td a.ui-state-default.ui-state-highlight:active,
	.forminator-custom-form-4900.forminator-calendar--bold .ui-datepicker-calendar tbody td a.ui-state-default.ui-state-highlight.ui-state-active {
		border-color: #17A8E3;
		background-color: #17A8E3;
		color: #FFFFFF;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-button-upload {
		font-size: 14px;
		font-family: inherit;
		font-weight: 500;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-file-upload > span {
		font-size: 12px;
		font-family: inherit;
		font-weight: 500;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-button-upload {
		background-color: #1ABCA1;
		color: #FFFFFF;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-button-upload:hover {
		background-color: #159C85;
		color: #FFFFFF;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-button-upload:active {
		background-color: #159C85;
		color: #FFFFFF;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-file-upload > span {
		color: #777771;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-button-delete {
		background-color: rgba(0,0,0,0);
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-button-delete:hover {
		background-color: #F9E4E8;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-button-delete:active {
		background-color: #F9E4E8;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-button-delete [class*="forminator-icon-"] {
		color: #E04562;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-button-delete:hover [class*="forminator-icon-"] {
		color: #E04562;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-button-delete:active [class*="forminator-icon-"] {
		color: #E04562;
	}


	/*
	====================
	MU Panel Font Styles
	====================
	*/

	/* STATE: Default */

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-multi-upload .forminator-multi-upload-message p {
		font-size: 13px;
		line-height: 1.7;
		font-weight: 400;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-multi-upload .forminator-multi-upload-message p a,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-multi-upload .forminator-multi-upload-message p a:visited,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-multi-upload .forminator-multi-upload-message p a:hover,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-multi-upload .forminator-multi-upload-message p a:focus {
		font-weight: 700;
		text-decoration: underline;
	}

	/*
	====================
	MU File Font Styles
	====================
	*/

	/* STATE: Default */

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-uploaded-file .forminator-uploaded-file--title {
		font-size: 13px;
		line-height: 1.3;
		font-weight: 700;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-uploaded-file .forminator-uploaded-file--size {
		font-size: 12px;
		line-height: 1.4em;
		font-weight: 700;
	}


	/*
	====================
	MU Panel Color Styles
	====================
	*/

	/* STATE: Default */

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-multi-upload {
		cursor: pointer;
		border-color: #777771;
		background-color: #EDEDED;
		color: #777771;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-multi-upload .forminator-multi-upload-message p {
		color: #666666;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-multi-upload .forminator-multi-upload-message p a,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-multi-upload .forminator-multi-upload-message p a:visited,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-multi-upload .forminator-multi-upload-message p a:hover,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-multi-upload .forminator-multi-upload-message p a:focus {
		color: #17A8E3;
	}

	/* STATE: Hover */

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-multi-upload:hover {
		border-color: #17A8E3;
		background-color: #E6E6E6;
		color: #777771;
	}

	/* STATE: Drag Over */

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-multi-upload.forminator-dragover {
		border-color: #17A8E3;
		background-color: #E1F6FF;
		color: #17A8E3;
	}

	/* STATE: Error */

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-has_error .forminator-multi-upload {
		border-color: #E04562;
		background-color: #EDEDED;
		color: #777771;
	}

	/*
	====================
	MU File Color Styles
	====================
	*/

	/* STATE: Default */

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-uploaded-file .forminator-uploaded-file--preview {
		border-color: #777771;
		background-color: #FFFFFF;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-uploaded-file .forminator-uploaded-file--preview [class*="forminator-icon-"] {
		color: #777771;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-uploaded-file .forminator-uploaded-file--title {
		color: #333333;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-uploaded-file .forminator-uploaded-file--size {
		color: #888888;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-uploaded-file .forminator-uploaded-file--size [class*="forminator-icon-"] {
		color: #888888;
	}

	/* Error */

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-uploaded-file.forminator-has_error .forminator-uploaded-file--image,
	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-uploaded-file.forminator-has_error .forminator-uploaded-file--preview {
		border-color: #E04562;
		background-color: #FFFFFF;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-uploaded-file.forminator-has_error .forminator-uploaded-file--preview [class*="forminator-icon-"] {
		color: #777771;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-uploaded-file.forminator-has_error .forminator-uploaded-file--size [class*="forminator-icon-"] {
		color: #E04562;
	}


	/*
	====================
	Signature Font Styles
	====================
	*/

	/* STATE: Default */

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-signature .forminator-signature--placeholder {
		font-size: 16px;
		font-weight: 400;
	}


	/*
	====================
	Signature Colors
	====================
	*/

	/* STATE: Default */

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-signature {
		border-color: #777771;
		background-color: #EDEDED !important;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-signature .forminator-signature--placeholder {
		color: #888888;
	}

	/* STATE: Hover */

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-field-signature.forminator-is_hover .forminator-signature {
		border-color: #17A8E3;
		background-color: #E6E6E6 !important;
	}

	/* STATE: Error */

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-field-signature.forminator-has_error .forminator-signature {
		border-color: #E04562;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-button-submit {
		font-size: 14px;
		font-family: inherit;
		font-weight: 500;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-button-submit {
		background-color: #17A8E3;
		color: #FFFFFF;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-button-submit:hover {
		background-color: #008FCA;
		color: #FFFFFF;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-button-submit:active {
		background-color: #008FCA;
		color: #FFFFFF;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-pagination-steps .forminator-step .forminator-step-label {
		font-size: 12px;
		font-family: inherit;
		font-weight: 500;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-pagination-steps .forminator-break {
		background-color: #777771;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-pagination-steps .forminator-step .forminator-step-label {
		color: #17A8E3;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-pagination-steps .forminator-step .forminator-step-dot {
		border-color: #777771;
		background-color: #17A8E3;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-pagination-steps .forminator-step.forminator-current ~ .forminator-step .forminator-step-label {
		color: #777771;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-pagination-steps .forminator-step.forminator-current ~ .forminator-step .forminator-step-dot {
		border-color: #777771;
		background-color: #777771;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-pagination-progress .forminator-progress-label {
		font-size: 12px;
		font-family: inherit;
		font-weight: 500;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-pagination-progress .forminator-progress-label {
		color: #777771;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-pagination-progress .forminator-progress-bar {
		background-color: #E6E6E6;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-pagination-progress .forminator-progress-bar span {
		background-color: #17A8E3;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-button-back {
		font-size: 14px;
		font-family: inherit;
		font-weight: 500;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-button-back {
		background-color: #1ABCA1;
		color: #FFFFFF;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-button-back:hover {
		background-color: #159C85;
		color: #FFFFFF;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-button-back:active {
		background-color: #159C85;
		color: #FFFFFF;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-button-next {
		font-size: 14px;
		font-family: inherit;
		font-weight: 500;
	}


	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-button-next {
		background-color: #1ABCA1;
		color: #FFFFFF;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-button-next:hover {
		background-color: #159C85;
		color: #FFFFFF;
	}

	.forminator-ui#forminator-module-4900.forminator-design--bold .forminator-button-next:active {
		background-color: #159C85;
		color: #FFFFFF;
	}


	#forminator-module-4900.forminator-design--bold .StripeElement {
		padding: 7px;
		border-width: 3px;
		border-style: solid;
		border-color: #777771;
		border-radius: 0;
		background-color: #EDEDED;
		color: #000000;
		transition: 0.2s ease;
	}

	#forminator-module-4900.forminator-design--bold .StripeElement:hover {
		border-color: #17A8E3;
		background-color: #E6E6E6;
	}

	#forminator-module-4900.forminator-design--bold .StripeElement--focus,
	#forminator-module-4900.forminator-design--bold .StripeElement--focus:hover {
		border-color: #17A8E3;
		background-color: #E6E6E6;
	}

	#forminator-module-4900.forminator-design--bold .StripeElement--invalid,
	#forminator-module-4900.forminator-design--bold .StripeElement--invalid:hover,
	#forminator-module-4900.forminator-design--bold .StripeElement--focus.StripeElement--invalid {
		border-color: #E04562;
	}