<table>

<tr>

<td>
<a href="https://www.economie.gouv.fr/" target="_blank"> <img src="images/minester-economie-finances.png"> </a>
</td>


<td>
<table>

<tr>
<table>
<tr>
<td>
<a href="" target="_blank"> <img src="images/news-letter_07.png"> </a>
</td>
</tr>

<tr>

<td>
<a href="" target="_blank"> <img src="images/facebook.png"> </a>
<a href="" target="_blank"> <img src="images/instagram.png"> </a>
<a href="" target="_blank"> <img src="images/linkedin.png"> </a>
</td>

</tr>
</table>
</tr>

</table>
</td>

</table>
